 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <form action="/add-client" method="POST">


        <h4>Datos de cliente</h4>
                                <br>
        <label for="">Nombre required</label><br>
        <input class="form-control" type="text" name="name_padre" placeholder="Nombre" required><br>

        <label for="">Parentesco</label><br>
        <input class="form-control" type="text" name="parentesco" placeholder="parentesco" required><br>
        <label for="">Escolaridad</label><br>
        <input class="form-control" type="text" name="escolaridad_padre" placeholder="Escolaridad"
            required><br>

        <label for="">Teléfono</label><br>
        <input class="form-control" type="text" name="phone_padre" placeholder="telefono" required><br>

        <label for="exampleInputEmail1">Email address</label><br>
        <input class="form-control" type="email" name="mail_padre" class="form-control"
            id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" 
            required>
            <br>
        <input type="submit" value="crear" class="float-right btn btn-success">

        </form>
</div>